@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main h1,
.logo {
  font-family: "Jockey One", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

body::-webkit-scrollbar {
  display: none;
}
.cardSakit img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

@media only screen and (min-width: 1539px) {
  .kananimg img {
    height: 30rem;
  }
  .tulisan {
    margin: 8rem;
  }
  .tulisan .lorem {
    font-size: 4rem;
  }
  .otak img {
    height: 45rem;
  }

  .kirihelp img {
    height: 52rem;
  }
}

@media only screen and (max-width: 768px) {
  .kiriimg img {
    height: 30rem;
    bottom: -2.5rem;
  }
  .kananimg img {
    height: 13rem;
    z-index: -100;
  }
  .otak img {
    height: 15rem;
  }
  .desc,
  .hadist {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
