@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main h1,
.logo {
  font-family: "Jockey One", sans-serif;
}
.info {
  right: 12rem;
  top: 8rem;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

body::-webkit-scrollbar {
  display: none;
}
.cardSakit img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 50%;
}

@media only screen and (min-width: 1536px) {
  /* coba coba */
}
